:root {
  --bg1: rgb(8, 79, 70);
  --bg2: rgb(143, 52, 0);
  --bg3: rgb(65, 14, 65);
  --color1: rgb(0, 39, 73);
  --color2: deeppink;
  --color3: gold;
  --color4: goldenrod;
  --gray1: rgb(255, 255, 255);
}

/* Another theme */
/* :root {
    --bg1: rgb(37, 13, 195);
    --bg2: rgb(26, 110, 146);
    --bg3: rgb(9, 49, 226);
    --color1: aliceblue;
    --color2: rgb(94, 169, 240);
    --color3: rgb(211, 187, 48);
    --color4: rgb(90, 66, 6);
    --gray1: lightgray;
} */
